/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* COLOR RULES */
.primaryColor{ color: rgba(50,119,136,1); }
.secondaryColor{ color: rgba(169,216,217,1); }

a.activeFooter{color: rgba(50,119,136,1); font-weight: bold;}
a.inactiveFooter{color: #888; font-weight:normal;}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* NAVBAR STYLE RULES */
ul.nav li a:hover, ul.nav li a:active {
    color: rgba(50,119,136,0.7) !important;
}

ul.nav li a  {
    color: #888 !important;
}

ul.nav li a.active  {
    color: rgba(50,119,136,1) !important;
    font-weight: bold;
}

.dropdown .dropdown-menu .dropdown-item:active{
  color: white !important;
  background-color: rgba(50,119,136,1) !important;
}
/* dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
