<!--  NAVBAR -->

<!--div class="w-100" style="background-color: rgba(199,246,247,0.15);"-->

  <!-- LOGO -->
  <!--div class="d-table mx-auto py-3" style="background-color: #ddd;"-->
  <!--div class="d-table mx-auto py-3 w-25" >
    <img src="\espace-natal\src\logo-espace-natal-paris.png" class="img-fluid w-100" id="idBrandLogoLargeScreen" alt="logo-espace-natal-paris">
  </div-->

  <!-- NAVS -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <!--div class="navbar-header" id="idNavbarLogo" style="background-color: #000;"-->
      <a class="navbar-brand" href="\espace-natal">
          <!--img src="\espace-natal\src\logo-espace-natal-paris.png" width="240" height="69" id="idBrandLogoSmallScreen" alt="logo-espace-natal-paris"-->
          <div class="w-100" id="idNavbarHeader" style="text-align: center;" >
            <img src="\espace-natal\src\logo-espace-natal-paris.png" class="" id="idBrandLogoLargeScreen" alt="logo-espace-natal-paris">
          </div>
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- ACCUEIL -->
        <a class="navbar-item" href="\espace-natal"> <i class="material-icons primaryColor" style="vertical-align:text-top;">home</i> </a>

        <!-- Grossesse & Accouchement -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="idGrossesseAccouchement" href="\espace-natal\grossesse_accouchement" role="button" aria-haspopup="true" aria-expanded="false">
            GROSSESSE & ACCOUCHEMENT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="\espace-natal\grossesse_accouchement\grossesse_physiologique.php">Grossesse physiologique</a>
            <a class="dropdown-item" href="\espace-natal\grossesse_accouchement\grossesse_pathologique.php">Grossesse pathologique</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="\espace-natal\grossesse_accouchement\accouchement.php">Accouchement</a>
          </div>
        </li>

        <!-- Chirurgie gynécologique -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="idChirurgieGynecologique" href="\espace-natal\chirurgie_gynecologique" role="button" aria-haspopup="true" aria-expanded="false">
            CHIRURGIE GYNÉCOLOGIQUE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="\espace-natal\chirurgie_gynecologique\pathologies.php">Pathologies</a>
            <a class="dropdown-item" href="\espace-natal\chirurgie_gynecologique\techniques_operatoires.php">Les techniques opératoires</a>
            <a class="dropdown-item" href="\espace-natal\chirurgie_gynecologique\specialistes.php">Les spécialistes</a>
          </div>
        </li>

        <!-- Infertilité -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="idInfertilite" href="\espace-natal\infertilite" role="button" aria-haspopup="true" aria-expanded="false">
            INFERTILITÉ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="\espace-natal\infertilite\bilan_fertilite.php">Bilan de fertilité</a>
            <a class="dropdown-item" href="\espace-natal\infertilite\bilan_infertilite.php">Bilan d’infertilité</a>
            <a class="dropdown-item" href="\espace-natal\infertilite\prise_en_charge.php">Prise en charge</a>
          </div>
        </li>

        <!-- Partenaires -->
        <li class="nav-item">
          <a class="nav-link" id="idPartenaires" href="\espace-natal\partenaires">PARTENAIRES</a>
        </li>

        <!-- Contact -->
        <li class="nav-item">
          <a class="nav-link" id="idContact" href="\espace-natal\contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
<!--/div-->

<!-- SCRIPT ENABLE/DISABLE CLICK ON HEAD DROPDOWN LINK -->
<script type="text/javascript">
  // FIXME: hide and show not efficient
  $(document).ready(function() {
    if ($(document).width() < 992) { //SMARTPHONE
      //992 for large screen according to navbar breakpoint
      $(".dropdown-toggle").attr("data-toggle", "dropdown"); //inactive hover and top link
      //$("#idBrandLogoSmallScreen").show();
      //$("#idBrandLogoLargeScreen").hide();
    } else { // PC
      $(".dropdown-toggle").removeAttr("data-toggle"); //active hover and top link
      //$("#idBrandLogoSmallScreen").hide();
      //$("#idBrandLogoLargeScreen").show();
    }
  });
</script>
