
<!--  NAVBAR -->

<div class="w-100" style="background-color: rgba(199,246,247,0.15);">

  <!-- LOGO -->
  <!--div class="d-table mx-auto py-3" style="background-color: #ddd;"-->
  <div class="d-table mx-auto py-3 w-25">
    <img src="\espace-natal\src\logo-espace-natal-paris.png" class="img-fluid w-100" alt="logo-espace-natal-paris">
  </div>

  <!-- NAVS -->
  <ul class="nav nav-tabs justify-content-center mt-2">
    <li class="nav-item">
      <a class="nav-link" id="idAccueil" href="\espace-natal">ACCUEIL</a>
    </li>
    <!-- Grossesse & Accouchement -->
    <li class="nav-item dropdown">
      <a class="nav-link" id="idGrossesseAccouchement" href="\espace-natal\grossesse_accouchement" role="button" aria-haspopup="true" aria-expanded="false">GROSSESSE & ACCOUCHEMENT</a>
      <!--a href="\espace-natal\grossesse_accouchement">Stack Overflow</a-->
      <div class="dropdown-menu">
        <a class="dropdown-item" href="\espace-natal\grossesse_accouchement">Grossesse physiologique</a>
        <a class="dropdown-item" href="#">Grossesse pathologique</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Accouchement</a>
      </div>
    </li>
    <!-- Chirurgie gynécologique -->
    <li class="nav-item dropdown">
      <a class="nav-link" id="idChirurgieGynecologique" href="\espace-natal\chirurgie_gynecologique" role="button" aria-haspopup="true" aria-expanded="false">CHIRURGIE GYNÉCOLOGIQUE</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="\espace-natal\chirurgie_gynecologique">Pathologies</a>
        <a class="dropdown-item" href="#">Les techniques opératoires</a>
        <a class="dropdown-item" href="#">Les spécialistes</a>
      </div>
    </li>
    <!-- Infertilité -->
    <li class="nav-item dropdown">
      <a class="nav-link" id="idInfertilite" href="\espace-natal\infertilite" role="button" aria-haspopup="true" aria-expanded="false">INFERTILITÉ</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="\espace-natal\infertilite">Bilan de fertilité</a>
        <a class="dropdown-item" href="#">Bilan d’infertilité</a>
        <a class="dropdown-item" href="#">Prise en charge</a>
      </div>
    </li>
    <!-- Nos Partenaires -->
    <li class="nav-item">
      <a class="nav-link" id="idPartenaires" href="\espace-natal\partenaires">PARTENAIRES</a>
    </li>
    <!-- Contact -->
    <li class="nav-item">
      <a class="nav-link" id="idContact" href="\espace-natal\contact">CONTACT</a>
    </li>
  </ul>
</div>
