
<!--  NAVBAR -->

<div class="w-100" style="background-color: #eee;">
  <div class="d-table mx-auto py-3" style="background-color: #ddd;">
    <img src="\espace-natal\src\logo-espace-natal-paris.png" class="img-fluid w-100" alt="logo-espace-natal-paris">
  </div>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="\espace-natal">Accueil</a>
    </li>
    <!-- Grossesse & Accouchement -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Grossesse & Accouchement</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Grossesse physiologique</a>
        <a class="dropdown-item" href="#">Grossesse pathologique</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Accouchement</a>
      </div>
    </li>
    <!-- Chirurgie gynécologique -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chirurgie gynécologique</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Pathologies</a>
        <a class="dropdown-item" href="#">Les techniques opératoires</a>
        <a class="dropdown-item" href="#">Les spécialistes</a>
      </div>
    </li>
    <!-- Infertilité -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Infertilité</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="\espace-natal\infertilite">Bilan de fertilité</a>
        <a class="dropdown-item" href="#">Bilan d’infertilité</a>
        <a class="dropdown-item" href="#">Prise en charge</a>
      </div>
    </li>
    <!-- Nos Partenaires -->
    <li class="nav-item">
      <a class="nav-link" href="#">Nos Partenaires</a>
    </li>
    <!-- Contact -->
    <li class="nav-item">
      <a class="nav-link" href="\espace-natal\contact">Contact</a>
    </li>
  </ul>
</div>
