<div class="navTabs">
   <div class="stuff">
      <div class="buttonTab mt-2 mx-3" tabindex="1">
         <span><i class="material-icons md-36">lightbulb_outline</i></span>
         <p>Concept</p>
      </div>
      <div class="buttonTab mt-2 mx-3" tabindex="2">
         <span><i class="material-icons md-36">account_balance</i></span>
         <p>Le Centre</p>
      </div>
      <div class="buttonTab mt-2 mx-3" tabindex="3">
         <span><i class="material-icons md-36">face</i></span>
         <p>L'Equipe</p>
      </div>
   </div>
</div>
