<div class="square">
  <div class="phoneContact mb-1 rounded-left p-1">
      <i class="material-icons md-36" style="display: table-cell; vertical-align: middle; color:white;">call</i>
     <div class="pl-2 phoneContactTxt" style="display: table-cell; vertical-align: middle;">Contactez le centre</div>
  </div>
  <div class="doctolibContact rounded-left p-1">
     <i class="material-icons md-36" style="display: table-cell; vertical-align: middle;color:white;">home</i>
     <div class="pl-2 doctolibContactTxt" style="display: table-cell; vertical-align: middle;">Doctolib</div>
  </div>
</div>
